rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /community/{documentId} {
      allow read: if true;
      allow create: if request.auth != null 
        && request.resource.data.authorId == request.auth.uid;
      allow update, delete: if request.auth != null
        && request.auth.uid == resource.data.authorId;
    }

    match /community/{documentId}/comments/{commentId} {
      allow read: if true;
      allow create: if request.auth != null
        && request.resource.data.authorId == request.auth.uid;
      allow update, delete: if request.auth != null
        && request.auth.uid == resource.data.authorId;
    }

    match /community/{postId}/likes/{userId} {
      allow read: if true;
      allow write: if request.auth != null
        && request.auth.uid == userId;
    }
  }
}