.searchBox {
    display: flex;
    width: 80rem;
    justify-content: center;
    align-items: center;
    height: 5rem;
    gap: 1rem;
}

.datePicker {
    width: 180px;
}
.searchInput {
    flex: 1;
    border-radius: 8px;
    height: 4rem;
    border: 1px solid #c5bebe;
}
.searchBtn {
    width: 10%;
    height: 4rem;
    border-radius: 8px;
    background-color: #999;
    border: 1px solid #f0ebeb;
    font-size: 20px;

    color: floralwhite;
}
