.layout {
    display: flex;
    width: 120rem;
    max-width: 100%;
    height: auto;
    margin: auto;
    margin-top: 60rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-shrink: 0;
    margin-top: 1.5rem;
}

.body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

.listBox {
    width: 80rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #f1f1f1;
    padding: 1rem 1.5rem;
    gap: 1rem;
}
.headerItem {
    flex: 1;
    justify-content: flex-start;
    text-align: center;
    font-weight: bold;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 1rem;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.listItem {
    flex: 1;
    text-align: center;
}
.deleteBtn {
    cursor: pointer;
    transition: transform 0.2s;
}

.deleteBtn:hover {
    transform: scale(1.1);
}

.paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
