.container {
    @apply flex flex-col items-center w-full;
}

.placeholderLogo {
    @apply w-full h-full bg-gray-200 rounded-full;
}

.teamName {
    @apply font-semibold text-sm truncate max-w-[80px];
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card {
    @apply w-[300px] p-4 mx-2 cursor-pointer bg-[#FFF] rounded-lg shadow-sm;
    transition: all 0.3s ease;
}

.card:hover {
    @apply shadow-md;
}

.card.active {
    @apply shadow-lg;
    transform: scale(1.05);
}

.statusBadge {
    @apply px-2 py-1 rounded-full text-xs text-white mb-3;
}

.teamContainer {
    @apply flex items-center justify-between w-full space-x-4 mb-4;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

.teamInfo {
    @apply flex flex-col items-center flex-1;
}

.teamInfo:first-child {
    @apply text-right items-end;
}

.teamInfo:last-child {
    @apply text-left items-start;
}

.logoContainer {
    @apply relative w-10 h-10  mb-2;
}

.scoreSection {
    @apply flex flex-col items-center justify-center text-center;
    grid-column: 2;
}

.score {
    @apply text-lg font-bold mb-1;
}

.matchTime {
    @apply text-sm text-gray-500;
}

.venueInfo {
    @apply text-xs text-gray-500 mt-2;
}

@media (max-width: 400px) {
    .teamName {
        @apply text-xs max-w-[70px];
    }
}
